body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#root {
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: red;
  text-align: center;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}